<launch>

    <!-- Empty world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name" value="$(find quadruped_description)/world/normal.world"/>
      <arg name="use_sim_time" value="true"/>
    </include>

    <!-- Robot -->
    <arg name="robot" default="$(find quadruped_description)/urdf/quadruped.urdf"/>
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg robot)"/>
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" 
          args="-param robot_description -urdf -x 0 -y 0 -z 0.9 -R 0 -P 0 -Y 0 -model quadruped_gazebo"/>

    <!-- Controllers -->
    <rosparam file="$(find quadruped_controller)/config/pid_controllers.yaml" command="load"/>
    <node name="controller_spawner" pkg="controller_manager" type="spawner" output="screen" ns="quadruped_gazebo"
          args="FR_hip_joint FR_thigh_joint FR_calf_joint
                FL_hip_joint FL_thigh_joint FL_calf_joint
                RR_hip_joint RR_thigh_joint RR_calf_joint
                RL_hip_joint RL_thigh_joint RL_calf_joint"/>

    <!-- Robot state publisher -->
    <node pkg="robot_state_publisher" type="robot_state_publisher"  name="robot_state_publisher" respawn="false" output="screen">
      <remap from="/joint_states" to="/quadruped_gazebo/joint_states" />
      <param name="publish_frequency" type="double" value="40" />
    </node>

    <!-- Robot controller -->
    <node pkg="quadruped_controller" type="robot_controller_gazebo.py" name="robot_controller" output="screen"/>

    <!-- Joystick -->
    <node pkg="quadruped_joystick" type="keyboard_to_joy.py" name="keyboard_to_joy" output="screen"/>
    <node pkg="quadruped_joystick" type="ramped_joystick.py" name="ramped_joystick" output="screen"/>

</launch>