<launch>

  <arg name="smc_rate" default="250" />
  <arg name="smc_use_imu" default="true" />
  <arg name="smc_startup_hold_s" default="1.0" />
  <arg name="smc_torque_ramp_s" default="1.0" />
  <arg name="smc_use_gait_after_startup" default="false" />
  <arg name="smc_damping" default="0.8" />
  <arg name="smc_dqd_lpf_alpha" default="0.2" />

    <!-- Empty world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name" value="$(find quadruped_description)/world/normal.world"/>
      <arg name="use_sim_time" value="true"/>
    </include>

    <!-- Robot -->
    <arg name="robot" default="$(find quadruped_description)/urdf/quadruped.urdf"/>
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg robot)"/>
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" 
          args="-param robot_description -urdf -x 0 -y 0 -z 0.4 -R 0 -P 0 -Y 0 -model quadruped_gazebo"/>

    <!-- Controllers (Effort controllers; SMC computes torques) -->
    <rosparam file="$(find quadruped_controller)/config/smc_controllers.yaml" command="load"/>
    <node name="controller_spawner" pkg="controller_manager" type="spawner" output="screen" ns="quadruped_gazebo"
          args="FR_hip_joint FR_thigh_joint FR_calf_joint
                FL_hip_joint FL_thigh_joint FL_calf_joint
                RR_hip_joint RR_thigh_joint RR_calf_joint
                RL_hip_joint RL_thigh_joint RL_calf_joint"/>

    <!-- Robot state publisher -->
    <node pkg="robot_state_publisher" type="robot_state_publisher"  name="robot_state_publisher" respawn="false" output="screen">
      <remap from="/joint_states" to="/quadruped_gazebo/joint_states" />
      <param name="publish_frequency" type="double" value="40" />
    </node>

    <!-- SMC controller: gait+IK generates qd, reads joint_states, publishes tau -->
    <node pkg="quadruped_controller" type="robot_smc_controller_gazebo.py" name="robot_smc_controller" output="screen">
  <param name="rate" value="$(arg smc_rate)"/>
  <param name="use_imu" value="$(arg smc_use_imu)"/>
  <param name="startup_hold_s" value="$(arg smc_startup_hold_s)"/>
  <param name="torque_ramp_s" value="$(arg smc_torque_ramp_s)"/>
  <param name="use_gait_after_startup" value="$(arg smc_use_gait_after_startup)"/>
  <param name="damping" value="$(arg smc_damping)"/>
  <param name="dqd_lpf_alpha" value="$(arg smc_dqd_lpf_alpha)"/>
    </node>

    <!-- Keyboard joystick -->
    <node pkg="quadruped_joystick" type="keyboard_to_joy.py" name="keyboard_to_joy" output="screen"/>
    <node pkg="quadruped_joystick" type="ramped_joystick.py" name="ramped_joystick" output="screen"/>

</launch>
